<h1>Where does it cut?</h1>

<%= form_tag("/index",:class => "form-search", :method => "get") do %>
<div class = "input-append">
	<%= text_field_tag("/index", nil, :class => "span4 search-query", "data-provide" => "typeahead", :id => "search", "data-items" => "4") %>
	<%= button_tag("Search", :class => "btn") %>
</div>
<% end %>


    <script>
    	var proteins = ['AatII',
'Acc65',
'AccI',
'AclI',
'AatII',
'Acc65I',
'AccI',
'AclI',
'AfeI',
'AflII',
'AgeI',
'ApaI',
'ApaLI',
'ApoI',
'AscI',
'AseI',
'AsiSI',
'AvrII',
'BamHI',
'BclI',
'BglII',
'Bme1580I',
'BmtI',
'BsaHI',
'BsiEI',
'BsiWI',
'BspEI',
'BspHI',
'BsrGI',
'BssHII',
'BstBI',
'BstZ17I',
'BtgI',
'ClaI',
'DraI',
'EaeI',
'EagI',
'EcoRI',
'EcoRV',
'FseI',
'FspI',
'HaeII',
'HincII',
'HindIII',
'HpaI',
'KasI',
'KpnI',
'MfeI',
'MluI',
'MscI',
'MspA1I',
'MfeI',
'MluI',
'MscI',
'MspA1I',
'NaeI',
'NarI',
'NcoI',
'NdeI',
'NgoMIV',
'NheI',
'NotI',
'NruI',
'NsiI',
'NspI',
'PacI',
'PciI',
'PmeI',
'PmlI',
'PsiI',
'PspOMI',
'PstI',
'PvuI',
'PvuII',
'SacI',
'SacII',
'SalI',
'SbfI',
'ScaI',
'SfcI',
'SfoI',
'SgrAI',
'SmaI',
'SmlI',
'SnaBI',
'SpeI',
'SphI',
'SspI',
'StuI',
'SwaI',
'XbaI',
'XhoI',
'XmaI'];
    	$('#search').typeahead({source: proteins})
    </script>