
	<div class = "row">
  		<div class = "span3"></div>
  		<div class = "span8" id = "enzymeform">
  			<%= render "searchForm" %>
  		</div>
  		<div class = "span1"></div>
  	</div>
  	<br>
  	<br>
  	<br>
  <div class = "row">
  	<div class = "span3">
  	</div>
  	<div class = "span8" id = "result">
  		<%= render "siteResult"%>
  	</div>
  	<div class = "span1">
  	</div>
  </div>
 
  <script>

$(document).ready(function() {
	$('#result').hide();
	
	});
</script>
  